<h1>Sign In</h1>
<%= form_tag sessions_path do %>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <%= link_to "Sign in with Twitter", sign_in_with_twitter_path %>
  <br>
  <%= link_to "Sign in with Facebook", sign_in_facebook_path %>
  <br>
  <%= submit_tag 'Sign In' %>
<% end %>
