<h1 id="border-bottom">Admin Dashboard</h1>

<div class="row">
  <div class="col-md-12">

    <h2>Counts Summary</h2>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Drill Count</th>
          <th>Answer Count</th>
          <th>User Count</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @counts[:drill_count] %></td>
            <td><%= @counts[:answer_count] %></td>
            <td><%= @counts[:user_count] %></td>
          </tr>
      </tbody>
    </table>
    <hr>

    <h2 id="border-bottom">Users Summary</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>is_admin?</th>
          <th>is_validated?</th>
          <th>Delete User</th>
        </tr>
      </thead>
      <tbody>
        <% @lists[:users].each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.is_admin ? 'True' : (button_to 'Activate admin', admin_activate_user_path(user.id), method: :patch ,class: 'btn btn-success') %></td>
            <td><%= user.is_validated ? 'True': (button_to 'Validate User', admin_validate_user_path(user.id), method: :patch, class: 'btn btn-warning') %></td>
            <td><%= user.is_admin ? 'Cannot Delete Admin' : (button_to "Delete", admin_delete_user_path(user.id), method: :delete, class: 'btn btn-danger') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>

    <h2 id="border-bottom">Groups/Drills/Answers Summary</h2>
    <% @lists[:groups].each do |group| %>
      <h3 id="border-bottom">Group: <%= group.title %></h3
      <%= button_to "Delete Group", admin_delete_group_path(group.id), method: :delete, class: "btn btn-danger" %>
       <br><br>
      <% @lists[:drills].where(group_id: group.id).each do |drill| %>
        <table class="table table-hover">
          <thead>
            <%= form_tag admin_change_drill_metrics_path(drill), method: :patch do %>
              <th><%= drill.title %></th>
              <th>Level: <%= number_field_tag :level, :level, in: 1..3, value: drill.level %></th>
              <th>Points: <%= number_field_tag :points, :points, in: 0..500, value: drill.points %></th>
              <th><%= submit_tag "Change Drill Level/Score"%></th>
            <% end %>
            <th><%= button_to "Delete Drill", admin_delete_drill_path(drill.id), method: :delete, class: 'btn btn-danger'%></th>
          </thead>
          <tbody>
            <tr>
              <th>Answer Body</th>
              <th>Approved?</th>
              <th>Answer Author</th>
            </tr>
            <% @lists[:answers].where(drill_id: drill.id).each do |answer| %>
              <tr>
                <td><%= answer.body %></td>
                <td><%= answer.approved ? "True" : (button_to "Approve Answer", admin_approve_answer_path(answer.id), method: :patch, class: 'btn btn-success') %></td>
                <td><%= answer.user ? answer.user.full_name : "none" %></td>
                <td><%= button_to "Delete Answer", admin_delete_answer_path(answer.id), method: :delete, class: 'btn btn-danger' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>

    <%# <p>Drill:  drill.title </p> %>
    <%# @lists[:answers].where(drill_id: drill.id).each do |answer| %>
    <%# <p style="color:silver">Answer: answer.body </p> %>
    <%# end %>

    <!-- <h2>Drills/Answers Summary</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>is_admin?</th>
          <th>is_validated?</th>
          <th>Delete User</th>
        </tr>
      </thead>
      <tbody>
        <% @lists[:users].each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.is_admin ? 'True' : (button_to 'Activate admin', admin_activate_user_path(user.id), method: :patch ,class: 'btn btn-success') %></td>
            <td><%= user.is_validated ? 'True': (button_to 'Validate User', admin_validate_user_path(user.id), method: :patch, class: 'btn btn-warning') %></td>
            <td><%= user.is_admin ? 'Cannot Delete Admin' : (button_to "Delete", admin_delete_user_path(user.id), method: :delete, class: 'btn btn-danger') %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
    <hr> -->



  </div>
</div>
