<h1>Admin Dashboard</h1>
  <br>

<div class="row">
  <div class="col-md-8">

    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Drill Count</th>
          <th>Answer Count</th>
          <th>User Count</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @drill_count %></td>
            <td><%= @answer_count %></td>
            <td><%= @user_count %></td>
          </tr>
      </tbody>
    </table>


    <table class="table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
