
<div class="row">
  <br><br>
  <h1 align="middle">Learning Paths</h1>
</div>
 <br>
<% if can?(:manage, @groups) %>
  <div align="middle"><%= link_to "Create a New Group", new_group_path, class:"btn-universal" %></div>
  <br>
  <% end %>
<br>

<%counter = 3 %>
<%index = 1 %>
<div class="container-fluid well well-lg">
  <% @groups.each do |x| %>
  <% randnum = Random.rand(964..1000) %>
<% case counter - index %>
<% when 2 %>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="group">
        <div class="image_wrapper">
          <img src="https://unsplash.it/400/400/?image=<%=randnum%>" alt="">
        </div>
        <h3 align="middle"><%= link_to x.title, group_drills_path(x) %></h3>
      </div>
    </div>
<% index += 1 %>
<% when 1 %>
    <div class="col-sm-12 col-md-4">
      <div class="group">
        <div class="image_wrapper">
          <img src="https://unsplash.it/400/400/?image=<%=randnum+1%>" alt="">
        </div>
        <h3 align="middle"><%= link_to x.title, group_drills_path(x) %></h3>
      </div>
    </div>
<% index += 1%>
<% when 0 %>
    <div class="col-sm-12 col-md-4">
      <div class="group">
        <div class="image_wrapper">
          <img src="https://unsplash.it/400/400/?image=<%=randnum+2%>" alt="">
        </div>
        <h3 align="middle"><%= link_to x.title, group_drills_path(x) %></h3>
      </div>
     </div>
   </div>
 <% counter += 2 %>
 <% end %>
<% end %>
</div>
