
<div class="container-fluid" align="middle">
<p>Your bookmarked groups:</p>
<%  @groups.each do |x|%>
  <p> <%= link_to "#{x.title}", group_path(x) %> </p>
  <% end %>
</div>

<div class="container-fluid" align="middle">
<p>Your most played group: </p>
</div>

<div class="container-fluid" align="middle">
<%if (Time.current - @user.created_at) < 172801 %>
<p>Joined: <%= ((Time.current - @user.created_at)/3600).to_i %> hours ago</p>
<% else %>
<p>Joined: <%= ((Time.current - @user.created_at)/3600/24).to_i %> days ago</p>
<% end %>
</div>

<div class="container-fluid" align="middle">
<p>Your most played drill: </p>
</div>

<div class="container-fluid" align="middle">
<p>Your overall completion: </p>
</div>

<div class="container-fluid" align="middle">
<p>How you stack up:</p>
<p>The average player has <%= (@total/@totalusers) %> points.</p>
<p>Your total is <%= @user.score %></p>.
<p>Your are <%=  %></p>







<%= (@total/@totalusers) %>
<%= @myscore %>
<%= @totalusers %>
</div>

<div class="container-fluid" align="middle">
<p>Your last played drill: </p>
</div>
