<%= simple_form_for [@group, @drill] do |d| %>
  <%= d.input :title %>
  <%= d.input :description %>
  <%= d.input :level %>
  <%= d.input :points %>
  <p id='ans' style='font-weight: bold; font-size:15px'>* Answers</p>
  <%= text_field_tag :answer_body%>
  <br><br>
  <%= d.submit class: 'btn btn-primary'%>
<% end %>
