<h1 class='drills-animation' align="center"><%= @group.title %></h1>
<h1 align="center"><i class="fa fa-code-fork" aria-hidden="true"></i></h1>
<br>
<% if can?(:manage, @drills) || UserGroupPermission.where(group_id: @group_id, user_id: current_user.id).present? %>
  <div align='center'><%= link_to 'New', new_group_drill_path(@group_id), class: 'btn-universal'%></div>
<% end %>
<br>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="#" class='myDrills presstyle'>My Drills</a></li>
  <li role="presentation"><a href="#" class='allDrills presstyle'>All Drills</a></li>
    <% if can?(:manage, @group) %>
  <li role="presentation">
    <%= link_to 'Edit', edit_group_path(@group_id), class:"presstyle" %>
  </li>
  <li role="presentation">
    <%= link_to 'Delete', group_path(@group_id),
        method: :delete,
        class:"presstyle",
        data: { confirm: 'Deleting this group will also delete all drills and answers associated. Are you sure?'}
    %>
  </li>
  <% end %>
  <% if @group.bookmarked_by?(current_user, @group) %>
    <li role="presentation">
      <%= link_to "Remove Bookmark", user_group_path(@group.bookmark_for(current_user)),
        method: :delete,
        class:"presstyle"
      %>
    </li>
  <% else %>
    <li role="presentation">
      <%= link_to "Bookmark this Group", group_user_groups_path(@group),
        method: :post,
        class:"presstyle"
      %>
    </li>
  <% end %>
</ul>


  <div class='well well-lg container well-container all-drills'>
  <% if @drills.length == 0 %>
    <h3 align="middle" style="color:white">No drills associated with this group yet...</h3>
  <% else %>
    <% @drills.each do |d| %>
    <div class="col-md-4 well well-lg drills-outer-container">
      <div class='drills-inner-container'>
        <h4 class="othercolor">
          <%= link_to d.title, drill_path(d), class:"changecolor" %>
        </h4>
        <hr class="hr2">
          <%= link_to 'Attempt Drill', drill_path(d), class:"btn btn-universal btntoggler" %>

      </div>
    </div>
    <% end %>
  <% end %>
  </div>
  <div class='well well-lg container well-container my-drills'>
  <% if @attempted_drills.length == 0 %>
    <h3 align="middle" style="color:white">No attempted drills associated with this group yet...</h3>
  <% else %>
    <% @attempted_drills.each do |d| %>
    <div class="col-md-4 well well-lg drills-outer-container">
      <div class='drills-inner-container'>
        <h4 class="othercolor">
          <%= link_to d.title, drill_path(d), class:"changecolor" %>
        </h4>
        <hr class="hr2">
          <%= link_to 'Attempt Drill', drill_path(d), class:"btn btn-universal btntoggler" %>

      </div>
    </div>
    <% end %>
  <% end %>
  </div>



  <div class="well well-lg container well-container">
  <div class='userDrills drills-inner-container'>
    <div class="row">
      <div class="col-md-12" style="text-align:center">
        <h2>Completed</h2>
      </div> <!-- col-md-12 -->
    </div> <!-- row -->
    <div class="row" style="text-align:center">
      <div class="col-md-12">
        <ul style="list-style-type: none;">
          <% @completed_drills.each do |completed| %>
            <li><b><%= completed.title %></b><br>
             <i class="fa fa-check-square-o" aria-hidden="true"> <%= completed.description %></i>
            </li>
          <% end %>
        </ul>
      </div> <!-- col-md-12 -->
    </div> <!-- row -->

      <div class="row" style="text-align:center">
        <div class="col-md-12">
          <h2>Attempted</h2>
        </div> <!-- col-md-12 -->
      </div> <!-- row -->

      <div class="row" style="text-align:center">
        <div class="col-md-12">
          <ul style="list-style-type: none;">
          <% if @attempted_drills.length == 0 %>
            <li>There are no attempted drills for this user</li>
          <% end %>
          <% @attempted_drills.each do |attempted| %>
            <li>
              <b><%= attempted.drill.title %></b>
              <br>
              <i class="fa fa-times-circle-o" aria-hidden="true"> <%= attempted.drill.description%></i>
              <br>
              Attempts: <%= attempted.attempts %>
            </li>
        <% end %>
        </ul>
      </div> <!-- col-md-12 -->
    </div> <!-- row -->
</div>
<br>