<h1 class='drills-animation' align="center"><%= @group.title %></h1>
<% if can?(:manage, @drills) %>
<div align='center'><%= link_to 'New', new_group_drill_path(@group_id), class: 'btn btn-primary'%>
  </div>
  <% end %>
</%>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#" class='myDrills'>My Drills</a></li>
  <li role="presentation"><a href="#" class='allDrills'>All Drills</a></li>
    <% #if can?(:manage, @group) %>
  <li role="presentation"> <%= link_to 'Edit', edit_group_path(@group_id) %></li>
  <li role="presentation"> <%= link_to 'Delete', group_path(@group_id),
                              method: :delete,
                              data: { confirm: 'Deleting this group will also delete all drills and answers associated. Are you sure?'} %> </li>
      <% if @group.bookmarked_by?(current_user, @group) %>
  <li role="presentation"> <%= link_to "Remove Bookmark", user_group_path(@group.bookmark_for(current_user)), method: :delete %> </li>
      <% else %>
  <li role="presentation"> <%= link_to "Bookmark this Group", group_user_groups_path(@group), method: :post %> </li>
      <% end %>
    <% #end %>
</ul>

<div>
  <div class='well well-lg container'>
  <% if @drills.length == 0 %>
    <h3 align="middle">No drills associated with this group yet...</h3>
  <% else %>

  <div class='well well-sm container big-well'>
  <% @drills.each do |d| %>
  <div class="col-xs-4 well well-lg well-container">
    <div class='drills-container'>
      <h4>
        <%= link_to d.title, drill_path(d) %>
      </h4>
      <hr>
        <%= link_to 'Attempt Drill', drill_path(d), class:"btn btn-primary" %>
    </div>
  </div>
  <% end %>
  <% end %>
  </div>


<div class='userDrills'>

</div>
<%#if can?(:manage, @group)%>
<div class="row">
  <% if can?(:manage, @group) %>
  <div class="col-sm-12 col-md-12" align="left">
      <p><%= link_to 'Delete',group_path(@group),
                            method: :delete,
                            data: { confirm: 'Deleting this group will also delete all drills and answers associated. Are you sure?'} %>
      <%= link_to 'Edit', edit_group_path(@group) %> </p>
  </div>
  <% end %>
</div>
<%#end %>
