<h1 class='drills-animation' align="center">Drills</h1>
<% if can?(:manage, @drills) %>
  <div align='center'><%= link_to 'New', new_group_drill_path(@group_id), class: 'btn btn-primary'%>
  </div>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#" class='myDrills'>My Drills</a></li>
  <li role="presentation"><a href="#" class='allDrills'>All Drills</a></li>
</ul>

  <div class='well well-sm container big-well'>
  <% @drills.each do |d| %>
  <div class="col-xs-4 well well-lg well-container">
    <div class='drills-container'>
      <h4>
        <%= link_to d.title, drill_path(d) %>
      </h4>
      <hr>
        <%= link_to 'Add to my Drills', drill_path(d), class:"btn btn-primary" %>
    </div>
  </div>
  <% end %>
  </div>


<div class='userDrills'>
  <div>
    <h2>Completed</h2>
    <ul>
      <% @completed_drills.each do |completed| %>
        <li><b><%= completed.title %></b><br>
         <%= completed.description %>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <h2>Attempts</h2>
    <% if @attempted_drills.length == 0 %>
      <p>There are no attempted drills for this user</p>
    <% end %>
    <ul>
    <% @attempted_drills.each do |attempted| %>
      <li>
        <b><%= attempted.drill.title %></b>
        <br>
        <%= attempted.drill.description%>
        <br>
        Attempts: <%= attempted.attempts %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
