
<h1 style="text-align: center">Drill Show</h1>
<div class="col-sm-12">
    <h3>
        <%= @drill.title %>
        <%= @drill.description %>
    </h3>
    <hr>
    <p>Level <%= @drill.level %></p>
    <hr>
    <p>Level <%= @drill.points %></p>
    <% if can?(:manage, @drill) %>
      <%= link_to 'Edit', edit_drill_path(@drill), class: "btn btn-sm btn-default" %>
      <%= link_to 'Delete', drill_path(@drill), method: :delete,
      data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"  %>
    <% end %>
  </div>

<hr>
<%= form_tag drill_user_answers_path(@drill), method: 'post' do %>
  <div>
    <%= label_tag :user_answer, "Your answer:" %>
    <%= text_area_tag :user_answer, @answer.body %>
  </div>
  <div>
    <%= submit_tag("Submit Answer") %>
  </div>
  <% end %>
  <% if @answer.body != "" && alert %>
    <%= form_for [@drill, @answer] do |a| %>
      <%= a.hidden_field :body, value: @answer.body %>
      <%= a.submit "Disagree with our evaluation? Submit your answer for review" %>
    <% end %>
  <% end %>

<hr>
<h2>Correct Answers - Remove this from final version!!!!</h2>
<% @drill.answers.each do |answer| %>
  <p><%= answer.body %></p>
<% end %>
