<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Undefined <i class="fa fa-universal-access main_logo" aria-hidden="true"></i> Drills</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a> <span class="sr-only">(current)</span></a></li>
        <li><%= link_to 'Learning Paths', groups_path %></li>
        <li><%= link_to 'Leaderboard', users_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_sign_in? %>
          <li><%= link_to "#{current_user.full_name}", edit_user_path(current_user) %></li>
          <% if current_user.is_admin == true %>
            <li><%= link_to "Admin Dashboard", admin_dashboard_index_path %></li>
          <% end %>
          <li><%= link_to "Stats", stats_user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', sessions_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Sign In', new_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>
