<!DOCTYPE html>
<html>
  <head>

    <title>UndefinedDrills</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Lato|Roboto" rel="stylesheet">  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class='alert alert-success'<%= ' style="display: none"'.html_safe unless notice %>><%= notice if notice %></div>
    <div class='alert alert-danger'<%= ' style="display: none"'.html_safe unless alert %>><%= alert if alert %></div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
