<!DOCTYPE html>
<html>
  <head>

    <title>UndefinedDrills</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if notice %>
      <div class='alert alert-success'><%= notice %></div>
    <% elsif alert %>
      <div class='alert alert-danger'><%= alert %></div>
    <% end %>

    <div class='container'>
      <%= yield %>
    </div>

  </body>
</html>
