<!DOCTYPE html>
<html>
  <head>

    <title>UndefinedDrills</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Lato|Roboto" rel="stylesheet">  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <% if notice %>
      <div class='alert alert-success floating_alert'><%= notice %></div>
    <% elsif alert %>
      <div class='alert alert-danger floating_alert'><%= alert %></div>
    <% end %>
    <div class='container'>
      <%= yield %>
      <% if current_user.present? %>
      <div class="score">
        <div data-toggle="tooltip" title="My Score <%= current_user.score %>"><%= link_to '<i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>'.html_safe, stats_user_path(current_user)%></div>
      </div>
      <% end %>
    </div>
  </body>
</html>
